@import "~react-image-gallery/styles/css/image-gallery.css";

#top-links a:hover img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(59%) saturate(2236%)
    hue-rotate(193deg) brightness(103%) contrast(105%);
}

.image-gallery,
.image-gallery-slides,
.image-gallery-swipe,
.image-gallery-slide-wrapper,
.image-gallery-content {
  width: 100%;
}

.image-gallery-image {
  width: 100%;
  max-height: none !important;
  aspect-ratio: 3/4;
  object-fit: cover !important;
}

.image-gallery-thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: none;

  width: 100%;
  max-width: 433px;

  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;

  padding-bottom: 5px;
}

.scroll-enable .image-gallery-thumbnails-container {
  overflow-x: scroll;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-thumb {
  background: #b7b7b7;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
}

.image-gallery-thumbnails {
  padding: 10px 0 0 0;
}

.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.image-gallery-slides {
  overflow: hidden;
}

.image-gallery-thumbnails-container button {
  width: min-content;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  min-width: calc((85.75 / 433) * 100%);
}

.image-gallery-thumbnail-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail-inner {
  border-bottom: 2px solid rgba(26, 144, 255, 0);
}

button[aria-pressed="true"] .image-gallery-thumbnail-inner,
.image-gallery-thumbnail-inner:hover {
  border-bottom: 2px solid rgb(26, 144, 255);
}

/* */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) th::after {
  background: #ffffff;
}

tbody th::after {
  content: "";
  background: #f2f2f2;
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 85%;
  width: 1px;

  border-radius: 5px;
  transform: translateY(50%);

  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

th:first-child::after {
  display: none;
}

#image-cell img {
  display: block;
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-container {
  display: flex;
  width: 145px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.ingredient-btn {
  display: flex;
  height: 30px;
  width: 100%;
  padding: 0px 10px 0px 8px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
  font-family: "Roboto", sans-serif;

  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

.ingredient-btn:hover {
  background: hsl(0, 0%, 95%);
}

.add-button__img {
  width: 11px;
  height: 12px;
  filter: invert(0.85);
  -webkit-filter: invert(0.85);
}

#recipe-title {
  text-align: left;
  margin-bottom: 10px;
}

#recipe-tab span {
  color: #1890ff;
  font-size: 22px;
}

#recipe-tab p {
  font-size: 18px;
  margin-bottom: 10px;
}

#recipe-tab img {
  height: 300px;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#video-tab iframe {
  aspect-ratio: 16/9;
}
