@import "~react-image-gallery/styles/css/image-gallery.css";

#top-links a:hover img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(59%) saturate(2236%)
    hue-rotate(193deg) brightness(103%) contrast(105%);
}

.image-gallery,
.image-gallery-slides,
.image-gallery-swipe,
.image-gallery-slide-wrapper,
.image-gallery-content {
  width: 100%;
}

.image-gallery-image {
  width: 100%;
  max-height: none !important;
  aspect-ratio: 3/4;
  object-fit: cover !important;
}

.image-gallery-thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: none;

  width: 100%;
  max-width: 433px;

  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;

  padding-bottom: 5px;
}

.scroll-enable .image-gallery-thumbnails-container {
  overflow-x: scroll;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-thumb {
  background: #b7b7b7;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
}

.image-gallery-thumbnails {
  padding: 10px 0 0 0;
}

.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.image-gallery-slides {
  overflow: hidden;
}

.image-gallery-thumbnails-container button {
  width: min-content;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  min-width: calc((85.75 / 433) * 100%);
}

.image-gallery-thumbnail-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail-inner {
  border-bottom: 2px solid rgba(26, 144, 255, 0);
}

button[aria-pressed="true"] .image-gallery-thumbnail-inner,
.image-gallery-thumbnail-inner:hover {
  border-bottom: 2px solid rgb(26, 144, 255);
}

/* */

tbody tr:nth-child(odd) th::after {
  background: #ffffff;
}

.add-button__img {
  filter: invert(0.85);
  -webkit-filter: invert(0.85);
}
