@import "~react-image-gallery/styles/css/image-gallery.css";

#top-links {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 20px;
}

#top-links a {
  color: hsla(0, 0%, 0%, 0.85);
  font-size: 16px;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#top-links a:hover {
  color: #1890ff;
}

#top-links a img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#top-links a:hover img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(59%) saturate(2236%)
    hue-rotate(193deg) brightness(103%) contrast(105%);
}

#cocktail-page {
  display: flex;
  padding: 40px 40px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
  margin-bottom: 40px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px #e7e7e7;
}

#cocktail-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: clamp(300px, 25%, 433px);
}

.image-gallery,
.image-gallery-slides,
.image-gallery-swipe,
.image-gallery-slide-wrapper,
.image-gallery-content {
  width: 100%;
}

.image-gallery-image {
  width: 100%;
  max-height: none !important;
  aspect-ratio: 3/4;
  object-fit: cover !important;
  border-radius: 20px;
}

.image-gallery-thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: none;

  width: 100%;
  max-width: 433px;

  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;

  padding-bottom: 5px;
}

.scroll-enable .image-gallery-thumbnails-container {
  overflow-x: scroll;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-thumb {
  background: #b7b7b7;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
}

.image-gallery-thumbnails {
  padding: 10px 0 0 0;
}

.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.image-gallery-slides {
  overflow: hidden;
}

.image-gallery-thumbnails-container button {
  width: min-content;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  min-width: calc((85.75 / 433) * 100%);
}

.image-gallery-thumbnail-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail-inner {
  border-bottom: 2px solid rgba(26, 144, 255, 0);
}

button[aria-pressed="true"] .image-gallery-thumbnail-inner,
.image-gallery-thumbnail-inner:hover {
  border-bottom: 2px solid rgb(26, 144, 255);
}

h1 {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 51px */

  margin: auto;
}

p {
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */

  margin: auto;
}

#share-links {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#share-links p {
  margin: 0;
}

#share-links button {
  all: unset;
  position: relative;
  height: 25px;
  cursor: pointer;
}

#share-links button span {
  color: rgba(0, 0, 0, 0.85);
  cursor: default;

  position: absolute;
  top: 30px;
  left: 50%;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#cocktail-secondary-info {
  width: 70%;
  height: min-content;
}

#navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#cocktail-secondary-info nav {
  height: 36px;
  display: flex;
  gap: 30px;
}

.nav-info-button {
  all: unset;
  height: 36px;
  display: flex;
  cursor: pointer;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-info-button p {
  padding: 0 0 12px 0;
  border-bottom: 2px solid #00000000;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-info-button p:hover,
.highlighted-cocktail-page-btn p {
  color: rgb(10, 100, 255);
}

.highlighted-cocktail-page-btn p {
  border-bottom: 2px solid #1890ff;
}

#measurement {
  display: flex;
  gap: 30px;
}

#measurement-title {
  height: 36px;
  padding: 0 0 12px 0;
  margin: 0;
}

#cocktail-secondary-info__content h1 {
  font-size: 24px;
  text-align: start;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  min-width: 500px;
}

#ingredients-table {
  margin-bottom: 40px;
}

#image-cell {
  width: 120px;
}

th {
  padding: 10px;
  position: relative;
}

th:first-child {
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}

th:last-child {
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) th::after {
  background: #ffffff;
}

tbody th::after {
  content: "";
  background: #f2f2f2;
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 85%;
  width: 1px;

  border-radius: 5px;
  transform: translateY(50%);

  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

th:first-child::after {
  display: none;
}

#image-cell img {
  display: block;
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.ingredient-btn {
  display: flex;
  height: 30px;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;

  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

.ingredient-btn:hover {
  background: hsl(0, 0%, 95%);
}

.add-button__img {
  width: 11px;
  height: 12px;
  filter: invert(0.85);
  -webkit-filter: invert(0.85);
}

#recipe-title {
  text-align: left;
  margin-bottom: 10px;
}

#recipe-tab span {
  color: #1890ff;
  font-size: 22px;
}

#recipe-tab p {
  font-size: 18px;
  margin-bottom: 10px;
}

#recipe-tab img {
  height: 300px;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#video-tab iframe {
  aspect-ratio: 16/9;
}
