@import "~react-image-gallery/styles/css/image-gallery.css";

#cocktail-page {
  display: flex;
  padding: 40px 40px;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px #e7e7e7;
}

#cocktail-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: clamp(300px, 25%, 433px);
}

.image-gallery,
.image-gallery-slides,
.image-gallery-swipe,
.image-gallery-slide-wrapper,
.image-gallery-content {
  width: 100%;
}

.image-gallery-image {
  width: 100%;
  max-height: none !important;
  aspect-ratio: 3/4;
  object-fit: cover !important;
  border-radius: 20px;
}

.image-gallery-thumbnails-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: none;

  width: 100%;
  max-width: 433px;

  transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;

  padding-bottom: 5px;
}

.scroll-enable .image-gallery-thumbnails-container {
  overflow-x: scroll;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.scroll-enable .image-gallery-thumbnails-container::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none;
}

.image-gallery-thumbnails {
  padding: 10px 0 0 0;
}

.image-gallery-slides {
  overflow: hidden;
}

.image-gallery-thumbnails-container button {
  width: min-content;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  min-width: calc((85.75 / 433) * 100%);
}

.image-gallery-thumbnail-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 5px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-gallery-thumbnail-inner {
  border-bottom: 2px solid rgba(26, 144, 255, 0);
}

button[aria-pressed="true"] .image-gallery-thumbnail-inner,
.image-gallery-thumbnail-inner:hover {
  border-bottom: 2px solid rgb(26, 144, 255);
}

h1 {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 51px */

  margin: auto;
}

p {
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */

  margin: auto;
}

#share-links {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#share-links p {
  margin: 0;
}

#share-links button {
  all: unset;
  height: 25px;
}

#cocktail-secondary-info {
  width: 100%;
}

#navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#cocktail-secondary-info nav {
  height: 36px;
  display: flex;
  gap: 30px;
}

.nav-info-button {
  all: unset;
  height: 36px;
  display: flex;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-info-button p {
  padding: 0 0 12px 0;
  border-bottom: 2px solid #00000000;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-info-button p:hover,
.highlighted-cocktail-page-btn p {
  color: rgb(10, 100, 255);
}

.highlighted-cocktail-page-btn p {
  border-bottom: 2px solid #1890ff;
}

#measurement {
  display: flex;
  gap: 30px;
}

#measurement-title {
  height: 36px;
  padding: 0 0 12px 0;
  margin: 0;
}

#cocktail-secondary-info__content h1 {
  font-size: 24px;
  text-align: start;
  margin-bottom: 10px;
}

th img {
  width: 100px;
  aspect-ratio: 5/6;
  object-fit: cover;
}

#video-tab iframe{
  aspect-ratio: 16/9;
}