header {
  position: relative;
  background-color: white;
  display: flex;
  width: 1440px;
  height: 64px;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 8px 0px #e7e7e7;
  margin: 0 0 40px 0;
}

a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

#logo {
  width: 150px;
  height: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  display: flex;
  padding: 0px 20px;
  font-size: 20px;
}

nav a {
  height: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 110% */
  border-top: 2px solid #00000000;
  border-bottom: 2px solid #00000000;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

nav a:hover {
  color: rgb(10, 100, 255);
}

.highlighted {
  border-bottom: 2px solid #1890ff;
  color: rgb(10, 100, 255);
}

#sign-up-button-container {
  display: flex;
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#sign-up {
  all: unset;
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 30px;
  padding: 0px 5px 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 22px;
  /*110%*/
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: hsl(218, 100%, 52%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

#sign-up:hover {
  background: hsl(218, 100%, 45%);
}

#user {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

#avatar {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;

  border-radius: 100px;
}

#user a {
  flex-direction: column;
  font-size: 14px;
  line-height: 22px; /* 157.143% */
  align-items: flex-start;
}
