#closeForm {
  all: unset;
  z-index: 999;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: (100vh - 64px);
}

#signUpWindow {
  position: absolute;
  z-index: 1000;
  top: 79px;
  right: 0;

  display: flex;
  width: 380px;
  padding: 10px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px #e7e7e7;
}

#signUpWindow p {
  margin: auto;
}

#chooseBtns {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.chooseBtn {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.chooseBtn p {
  flex: 1 0 0;
  align-self: stretch;

  width: 80px;
  height: 27px;
  margin: auto;

  border-bottom: 2px solid #ffffff;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;

  cursor: pointer;
}

#line {
  height: 27px;

  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.85);
}

.highlightedBtn {
  border-bottom: 2px solid #0a64ff !important;
  color: #0a64ff !important;
}

#welcomeMsg {
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  align-self: stretch;
}

#google {
  all: unset;
  display: flex;
  height: 30px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 5px;
  border: 1px solid #4285f4;
  background: #fff;

  cursor: pointer;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#google:hover {
  border: 1px solid rgb(25, 72, 146);
}

#google p {
  color: #4285f4;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  margin: 0;
}

#hr {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.hrLine {
  width: 161px;
  height: 2px;
  background-color: hsl(0, 0%, 75%);
}

#hrOR {
  margin: auto;
  color: rgba(0, 0, 0, 0.25);

  /* Body/regular */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.inputContainer {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  height: 30px;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: rgba(0, 0, 0, 0.85);

  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 70%,
    rgba(255, 255, 255, 0) 70.1%
  );

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label,
input:not(:placeholder-shown) ~ label {
  top: 0;
  left: 10px;
  font-size: 12px;
}

#submitBtn {
  all: unset;
  display: flex;
  height: 30px;
  padding: 0px 5px 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: #0a64ff;

  cursor: pointer;

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#submitBtn:hover {
  background: hsl(218, 100%, 45%);
}

#submitBtn p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#submitIcon {
  width: 24px;
  height: 24px;
}
